<!-- views/message.ejs -->

<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="msg-single">
        <div class="msg-container">
            <div class="msg-div">
                <h2><%= msg.text %></h2>
                <h4><%= msg.user %></h4>
                <p>Date: <%= msg.added.toLocaleDateString() %> At <%= msg.added.toLocaleTimeString() %></p>
            </div>
        </div>
    </body>
</html>