/* public/style.css */

body {
    background-color: #9BCEC1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Courier New', Courier, monospace;
}

.main-head {
    font-weight: 900;
    font-size: 40px;
    padding: 30px;
    min-width: 100%;
    display: flex;
    justify-content: center;

    backdrop-filter: blur(10px);
    box-sizing: border-box;

    position: sticky;
    top: 0;
    z-index: 10;
}
.msg-container {
    background-color: #FFEBD3;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 40%;
    box-sizing: border-box;
}

.msg-div {
    background-color: #FFB6A6;
    padding: 30px;
    border-radius: 10px;
}

.msg-div > h2 {
    font-size: 28px;
    font-weight: 500;
    overflow-wrap: break-word;
}
.msg-div > h4 {
    font-size: 20px;
    font-weight: 700;
    overflow-wrap: break-word;
}
.msg-div > p {
    font-size: 15px;
}

.add-butt {
    position: fixed;
    bottom: 50px;
    right: 50px;

    padding: 30px;
    font-family: inherit;
    font-size: 20px;
}